<div class="footer" style="display: flex;">
    <div>
        <h4>Contact</h4>
        <table>
            <tr><td>🏠</td><td>Unit 52A1, Bristol Rd, Gloucester GL1 5RZ</td></tr>
            <tr><td>Phone</td><td><a href="tel:+447821416161">+447821416161</a></td></tr>
            <tr><td>Google</td><td><a href="https://share.google/ncp1swCLLajdPHQ29">Glass Goblin on Google</a></td></tr>
            <tr><td>Facebook</td><td><a href="https://www.facebook.com/glassgoblinuk/">Glass Goblin on Facebook</a></td></tr>
        </table>
        <br></br>
        <span>Built by the chief Goblin herself, with minor assistance from Mr Goblin. Published {{ site.time | date: "%Y" }}.</span>
    </div>
</div>
